<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>KurierPol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="grid-container">
        <div></div>
        <div>
            <a href="/index" style="text-decoration: none; color: #05386b;">
                <h1>KURIERPOL</h1>
            </a>
        </div>
        <div style="min-height: 600px">
            {% if current_user.is_anonymous %}
                <a class="button" href="/login">Zaloguj</a>
                <a class="button" href="/register">Zarejestruj sie</a>
            {% else%}
                <a class="button" href="/logout">Wyloguj</a>
            {% endif %}
        </div>
        <div style="min-height: 600px">
            {% block content %}{% endblock %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li><b>{{ message }}</b></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>

</body>
</html>