{% extends "base.html" %}

{% block content %}
    <p>Zamowienie nr {{ order.idZamowienie }}</p>

    <form action="" method="post" style="padding: 0px 20px; text-align: left">
        {{ recipientForm.hidden_tag() }}
        <p>
            <b>{{ recipientForm.recipientAddress.label }}</b>
            {{ recipientForm.recipientAddress(size=30, value=order.adresDostawcy)}}
            {{ recipientForm.submit()}}
        </p>
    </form>
    <form action="" method="post" style="padding: 0px 20px; text-align: left">
        {{ senderForm.hidden_tag() }}
        <p>
            <b>{{ senderForm.senderAddress.label }}</b>
            {{ senderForm.senderAddress(size=30, value=order.adresNadawcy)}}
            {{ senderForm.submit()}}
        </p>
    </form>
    <p style="text-align: left; padding: 0px 20px;"><b>Calkowity koszt:</b> {{ order.calkowityKosztDostawy }}</p>
    <form action="" method="post" style="padding: 0px 20px; text-align: left">
        {{ dateForm.hidden_tag() }}
        <p>
            <b>{{ dateForm.deliveryDate.label }}</b>
            {{ dateForm.deliveryDate(size=30, value=order.dataDostawy)}}
            {{ dateForm.submit()}}
        </p>
    </form>
    <p style="text-align: left; padding: 0px 20px;"><b>Data zaplaty:</b>
        {{ order.dataZaplaty if order.dataZaplaty is not none else 'Nie zaplacono' }}
    </p>
    <p style="text-align: left; padding: 0px 20px;"><b>Przewidywana godzina dostawy:</b>
        {{ order.przewidywanaGodzinaDostawy.time() if order.przewidywanaGodzinaDostawy is not none else 'Kurier nie
        podal jeszcze przewidywanej godziny dostawy' }}
    </p>
    <p style="text-align: left; padding: 0px 20px;">
        <b>Zrealizowane:</b> {{ 'Tak' if order.zrealizowana else 'Nie' }}
    </p>
    <p style="text-align: left; padding: 0px 20px;">
        <b>Paczki:</b>
    </p>
    <ul>
    {% for package in order.paczki %}
        <li><p style="text-align: left;">
            <b>Paczka nr</b> {{ loop.index }}: <b>Waga:</b> {{ package.waga }} <b>Kod:</b> {{ package.kod if package.kod is not none else 'Brak' }}
            <b>Data odbioru:</b> {{ package.dataOdbioru if package.dataOdbioru is not none else 'Paczka nie zostala jeszcze odebrana' }}
            <b>Stan paczki:</b> {{ stateEnum(package.stanPaczki).name.replace('_', ' ') }}
        </p></li>
    {% endfor %}
    </ul>
{% endblock %}