{% extends "base.html" %}

{% block content %}
    <p>Zamowienie nr {{ order.idZamowienie }}</p>

    <p style="text-align: left; padding: 0px 20px;"><b>Adres odbiorcy:</b> {{ order.adresDostawcy }}</p>
    <p style="text-align: left; padding: 0px 20px;"><b>Adres nadawcy:</b> {{ order.adresNadawcy }}</p>
    <p style="text-align: left; padding: 0px 20px;"><b>Calkowity koszt:</b> {{ order.calkowityKosztDostawy }}</p>
    <p style="text-align: left; padding: 0px 20px;"><b>Data dostawy:</b> {{ order.dataDostawy }}</p>
    <p style="text-align: left; padding: 0px 20px;"><b>Data zaplaty:</b>
        {{ order.dataZaplaty if order.dataZaplaty is not none else 'Nie zaplacono' }}
    </p>
    <form id="time" action="" method="post" style="padding: 0px 20px; text-align: left">
        {{ timeForm.hidden_tag() }}
        <p>
            <b>{{ timeForm.deliveryTime.label }}</b>
            {{ timeForm.deliveryTime(size=30,
            value=order.przewidywanaGodzinaDostawy.time() if order.przewidywanaGodzinaDostawy is not none else '')}}
            {{ timeForm.submit()}}
        </p>
    </form>
    <p style="text-align: left; padding: 0px 20px;">
        <b>Zrealizowane:</b> {{ 'Tak' if order.zrealizowana else 'Nie' }}
    </p>
    <p style="text-align: left; padding: 0px 20px;">
        <b>Paczki:</b>
    </p>
    {% for package in order.paczki %}
        <p style="text-align: left; padding: 0px 40px;">
            <b>Paczka nr</b> {{ loop.index }}: <b>Waga:</b> {{ package.waga }} <b>Kod:</b> {{ package.kod if package.kod is not none else 'Brak' }}
            <b>Data odbioru:</b> {{ package.dataOdbioru if package.dataOdbioru is not none else 'Paczka nie zostala jeszcze odebrana' }}
            <b>Stan paczki:</b> {{ stateEnum(package.stanPaczki).name.replace('_', ' ') }}
        </p>
    {% endfor %}
    {% if not order.zrealizowana %}
        <form id="finalize" action="" method="post" style="padding: 0px 20px; text-align: left">
            {{ finalizeForm.hidden_tag() }}
            <b><p>Sfinalizowane: </p></b>
            {{ finalizeForm.finalized }}
            {{ finalizeForm.submit() }}
        </form>
    {% endif %}
{% endblock %}