{% extends "base.html" %}

{% block content %}
    <h1>Skladanie zamowienia</h1>
    <form action="" method="post" style="padding: 0px 20px; text-align: left">
        {{ form.hidden_tag() }}
        <p>
            {{ form.senderAddress.label }}<br>
            {{ form.senderAddress(size=32, value=current_user.adres) }}
        </p>
        <p>
            {{ form.recipientAddress.label }}<br>
            {{ form.recipientAddress(size=32) }}
        </p>
        <p>
            {{ form.deliveryDate.label }}<br>
            {{ form.deliveryDate(size=32) }}
        </p>
        <p>
            {{ form.packages.label }}<br>
            {{ form.packages(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a class="button" onclick="addPackage()">Dodaj paczke</a>

    <script>
        function addPackage(){
            if( typeof addPackage.index == 'undefined' ) {
                addPackage.index = 0;
            }
            addPackage.index++;
            package = $('<li>');
            $('<label>').attr({
                for: 'packages-' + addPackage.index
            }).html("Paczka nr " + addPackage.index + ". Waga w kg:").appendTo(package);
            $('<input>').attr({
                type: 'number',
                min: '0',
                step: 0.01,
                id: 'packages-' + addPackage.index ,
                name: 'packages-' + addPackage.index,
                required: true
            }).appendTo(package);
            package.appendTo('#packages');
        }
    </script>
{% endblock %}